<div class="container-fluid vh-100 root">
    <div class="container">
        <div class="row">

            <div class="col-6">
                <div class="container">
                    <div class="row my-5 text-center">
                        <h1>LogIn</h1>
                    </div>
                    <div class="row">

                        <div class="col text-center">
                            <form [formGroup]="loginForm">

                                <input class="my-2" type="text" id="username" placeholder="username"
                                    formControlName="username"><br>
                                <div *ngIf="loginForm.get('username')!.invalid
                                    &&loginForm.get('username')!.touched"class="alert">
                                    
                                    <span class="text-danger">Username is required</span>
                                </div>
                                <input class="my-2" type="password" id="password" placeholder="password"
                                    formControlName="password"><i class="fa-solid fa-eye" (click)="togglePassword()"></i>
                                <div
                                    *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched"
                                    class="alert">
                                    <span class="text-danger">password is required</span>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn my-2 submit" (click)="submit()">LogIn</button>
                        </div>

                    </div>
                    <div class="row text-center">
                        <span>Not a member-<a href="../signup/index.html">SignUp</a></span>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</div>